body {
  background-color: #060;
  font-family: "Comic Sans MS";
  color: white;
}

.controlPanel {
  display: flex;
  justify-content: space-between;
  .usScore {
    margin-right: 50px;
  }
}

.cardTable {
  position: relative;
  width: 100%;
  max-width: 650px;
  min-width: 550px;
  height: 500px;
  border: 2px solid #fff;
  border-radius: 14px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;

  .gridRow {
    display: flex;
    flex: 1;
    //border: 1px solid purple;
    justify-content: center;

    &.gridRowMiddle {
      flex: 1.8;
      > div {
        //border: 1px solid black;
        flex: 1;
      }
    }
    .bookPanel {
      //border: 1px solid yellow;
    }
  }
}


.activeBookArea {
  //border: 1px solid brown;
  overflow: hidden;
  flex: 1.8 !important;
  position: relative;

  &.lastTrick {
    height: 250px;
    width: 250px;
  }
  .cardHolder {
    position: absolute;
    border: 1px dotted #ccc;
    border-radius: 10px;
    width: 78px;
    height: 107px;
    &.containsCard {
      border: none !important;
    }
    &.north {
      top: 0px;
      left: calc(50% - 39px);  // 39px = half the width of a card
    }
    &.south {
      bottom: 0px;
      left: calc(50% - 39px);  // 39px = half the width of a card
    }
    &.east {
      right: 0px;
      top: calc(50% - 53px);  // 53px = half the height of a card
    }
    &.west {
      left: 0px;
      top: calc(50% - 53px);  // 53px = half the height of a card
    }
  }
}


.spot.playersTurn .playerName {
  background-color: #ff0000; opacity: 0.4;
}
//.spot {
//  @keyframes blink {
//    50% { background-color: #ff0000; opacity: 0.4; }
//  }
//  &.playersTurn .playerName {
//    animation: blink 0.75s step-end infinite alternate;
//  }
//}


.playerCards {
  position: relative;
  .card {
    transform: scale(0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    &:nth-child(1) { left: 0px; }
    @for $i from 0 through 12 {
      &:nth-child(#{$i+1}) { left:  #{$i * 20px} }
    }
    &.selected {
      margin-top: -15px;
    }
  }
}

.otherPlayerHand {
  position: relative;
  .card {
    transform: scale(0.7);
    position: absolute;
    top: 0;
    left: 0;
    &:nth-child(2) {
      left: 15px !important;
    }
    &:nth-child(3) {
      left: 30px !important;
    }
    &:nth-child(4) {
      left: 45px !important;
    }
    &:nth-child(5) {
      left: 60px !important;
    }
  }
}




.card {
  height: 87px;
  width: 58px;
  background-color: white;
  padding: 10px;
  display: inline-block;
  background-image: url(../img/cardSprites2.png);
  background-position: 0px 0px;
  border-radius: 7px;
}

.card:hover {
  cursor: pointer;
}

.card.selected {
  margin-top: -15px;
}

.card.rotate {
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

.card.faceDown {
  background-image: url(../img/cardBg.png);
  background-position: 0px 0px;
  background-size: 100% 100%;
}

.card-AH { background-position: 0px 0px; }
.card-2H { background-position: 924px 0px; }
.card-3H { background-position: 847px 0px; }
.card-4H { background-position: 770px 0px; }
.card-5H { background-position: 693px 0px; }
.card-6H { background-position: 616px 0px; }
.card-7H { background-position: 539px 0px; }
.card-8H { background-position: 463px 0px; }
.card-9H { background-position: 385px 0px; }
.card-10H { background-position: 308px 0px; }
.card-JH { background-position: 231px 0px; }
.card-QH { background-position: 154px 0px; }
.card-KH { background-position: 77px 0px; }

.card-AC { background-position: 0px -214px; }
.card-2C { background-position: 924px -214px; }
.card-3C { background-position: 847px -214px; }
.card-4C { background-position: 770px -214px; }
.card-5C { background-position: 693px -214px; }
.card-6C { background-position: 616px -214px; }
.card-7C { background-position: 539px -214px; }
.card-8C { background-position: 463px -214px; }
.card-9C { background-position: 385px -214px; }
.card-10C { background-position: 308px -214px; }
.card-JC { background-position: 231px -214px; }
.card-QC { background-position: 154px -214px; }
.card-KC { background-position: 77px -214px; }

.card-AD { background-position: 0px -108px; }
.card-2D { background-position: 924px -108px; }
.card-3D { background-position: 847px -108px; }
.card-4D { background-position: 770px -108px; }
.card-5D { background-position: 693px -108px; }
.card-6D { background-position: 616px -108px; }
.card-7D { background-position: 539px -108px; }
.card-8D { background-position: 463px -108px; }
.card-9D { background-position: 385px -108px; }
.card-10D { background-position: 308px -108px; }
.card-JD { background-position: 231px -108px; }
.card-QD { background-position: 154px -108px; }
.card-KD { background-position: 77px -108px; }

.card-AS { background-position: 0px -322px; }
.card-2S { background-position: 924px -322px; }
.card-3S { background-position: 847px -322px; }
.card-4S { background-position: 770px -322px; }
.card-5S { background-position: 693px -322px; }
.card-6S { background-position: 616px -322px; }
.card-7S { background-position: 539px -322px; }
.card-8S { background-position: 463px -322px; }
.card-9S { background-position: 385px -322px; }
.card-10S { background-position: 308px -322px; }
.card-JS { background-position: 231px -322px; }
.card-QS { background-position: 154px -322px; }
.card-KS { background-position: 77px -322px; }


.unselectable {
  user-select: none;
}


.modalPopup {
  width: 100%;
  height: 100%;
  z-index: 100030;
  background-color: rgba(0,0,0,0.85);
  position: fixed;
  top: 0;
  left: 0;
  //display: none;
  color: white;
}

.modalPopupInner {
  border: 0px solid white;
  min-width: 200px;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.hidden { display: none; }