
.bidPanel {
  width: 280px;
  height: 145px;
  background-color: white;
  border: 2px #666;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 73px);
  padding: 10px;
  //display:none;
  z-index:10000;
}

.bidPanel button {
  width: 50px;
  height: 40px;
  margin: 3px 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bidPanel button.nil {
  width: 50px;
  letter-spacing: 2px;
}

.bidPanel button:hover {
  cursor: pointer;
  //opacity: 0.5;
  border: 1px solid #666;
  background-color: #eee;
}


.bidPanel button:focus {
  outline:none;
}